
@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),  url('TitilliumWeb-SemiBold.woff') format('woff'), url('TitilliumWeb-SemiBold.ttf')  format('truetype'), url('TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
